<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/header_style.css}">
</head>
<body>

<header class ="header" th:fragment="header">
   <div>
    <img class="logo" th:src="@{/images/logo.png}" alt="MySite Logo">
   </div>
  <nav class="nav-bar">
      <ul class="nav-links">
        <li><a th:href="@{/lease}">Opret lease</a></li>
        <li><a th:href="@{/damagereport}">Skade registrering</a></li>
        <li><a th:href="@{/currentleasingcontracts}">Nuværende udlejninger</a></li>
      </ul>
  </nav>

    <div class="logout">
        <a th:href="@{/login}">Logout</a>
    </div>
</header>


</body>
</html>