<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/header_style.css}">
</head>
<body>

<header class ="header" th:fragment="header">
   <div class="logo" aria-label="Bilabonnement logo">
     <img class="logo-img" th:src="@{/css/Img/logo.img}" alt="Bilabonnement logo">
   </div>
  <nav class="nav-bar">
      <ul class="nav-links">
        <li><a th:href="@{/leaseContract}">Opret lejekontrakt</a></li>
        <li><a th:href="@{/damagereport}">Registrer skade</a></li>
        <li><a th:href="@{/currentleasingcontracts}">Se nuværende udlejninger</a></li>
      </ul>
  </nav>

    <div class="logout">
        <a th:href="@{/login}">Log ud</a>
    </div>
</header>


</body>
</html>