<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login_style.css}">
</head>
<body>

<div class="login">

    <div class="logo-container">
        <img class="logo" th:src="@{/images/logo.png}" alt="MySite Logo">
    </div>


    <!--login box-->
    <div class="login-box">
        <p class="login-title">Login</p>
        <form class="input-fields" th:action="@{/login}" method="post">
            <label>Username</label>
            <label>
                <input type="text" name="username" required/>
            </label>
            <br/>
            <label>Password</label>
            <label>
                <input type="password" name="password" required/>
            </label>
            <br/>
            <button type="submit">Login</button>
        </form>

    </div>

</div>


</body>
</html>