.nav-bar{
    color: black;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-right: 80px;
    padding-left: 20px;
    flex: 1
}

body{
    margin: 0;
    padding: 0;
}

.logo{
    max-height: 80px;
    max-width: 300px;
    width: auto;
    height: auto;
    padding: 10px 40px 10px 10px;
    flex: 0 0 auto;
    margin-right: 0;
}



.nav-links{
    list-style: none;
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-family: sans-serif, Montserrat;
    white-space: nowrap;

}

.nav-links a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border: 1.5px solid #666;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: inline-block;
}


.nav-links a:hover {
    background-color: #666;
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(247,247,247);
    border-bottom: 2px solid #aaa;

}

.logout a {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #666;   /* thinner, lighter border */
    border-radius: 5px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
    background-color: lightcoral;

}

.logout{
    margin-right: 20px;
}

.logout a:hover {
    background-color: #666;

}