.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(247,247,247);
    font-family: sans-serif, Montserrat;
    white-space: nowrap;
}

.logo{

    max-width: 600px;

}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.login-box{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.login-title{
    font-weight: bold;
    font-size: 3em;
}

.input-fields{
    display: flex;
    margin: 10px 10px;
    flex-direction: column;

}

.login-box label{
   padding: 5px;
}